<!-- <router-outlet></router-outlet> -->
<app-header></app-header>
    
    
    
    <!-- ========================= SECTION PAGETOP ========================= -->
    <app-breadcrumbs></app-breadcrumbs>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <app-product-catalog></app-product-catalog>
    <router-outlet></router-outlet>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    <!-- ========================= FOOTER ========================= -->
    <app-footer></app-footer>
    <!-- ========================= FOOTER END // ========================= -->
